.chart-container {
  width: 90%;
  height: 80vh;
  padding: 0;
  margin: 0 auto;
}

.loading-container {
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  margin-top: 100px;
}

.chart-error {
  margin-top: 50px;
  width: 100%;
}